body{
  background-color: #000;
}
main{
  width: 100%;

}
.page {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    max-width: 880px;
    padding-inline: 20px;
  }

  