.profile{
width: 100%;
padding-top: 40px;
display: flex;
justify-content: space-between;
gap: 30px;
}

.profile__avatar{
display: flex;
}

.profile__image{
object-fit: cover;
border-radius: 50%;
width: 120px;
height: 120px;
}

.profile__info{
width: 415px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 7px;
font-size: 18px;
}

.profile__name-header{
width: 100%;
display: flex;
align-items: center;
gap: 16px;
}

.profile__name{
margin: 0;   
font-size: 42px;
font-weight: bold;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.profile__pencil{
    background: url(../images/pencil.svg) no-repeat center;
    background-size: 9px;
    width: 3px;
    height: 3px;
    padding: 5px;
    border: 1px solid #fff;
    box-sizing: content-box;
}

.profile__pencil:hover{
    opacity: 0.8;
    cursor: pointer;
}

.profile__descripcion{
    font-size: 12px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__button-more{
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
    padding-inline: 60px;
    height: 40px;
    font-size: 20px;
    margin-top: 40px;
}

.profile__button-more:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width:600px){
.profile{
    flex-direction: column;
    align-items: center;
}

.profile__info{
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.profile__name-header{
    width: auto;
    align-items: center;
    margin: 0;
}

.profile__button-more{
    width: 100%;
}

.profile__name{
    font-size: 22px;
}

}