@font-face {
    src: url(../fonts/Inter-Bold.ttf) format("truetype");
    font-family: "Inter";
    font-weight: bold;
}

@font-face {
    src: url(../fonts/Inter-Medium.ttf) format("truetype");
    font-family: "Inter";
    font-weight: medium;
}